.music-player {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  height: 11vh;
  width: 100%;
  background: #282828;
  color: white;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 17;
}

.mp-main {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: flex-start;
  flex-direction: column;
  // margin-left: 100px;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  margin-bottom: 2%;
  align-items: center;
  height: 50%;
  width: 60%;
}

.main-button {
  height: 90%;
  min-height: 33px;
}

.song-select {
  opacity: 0.7;
}

.song-select:hover {
  opacity: 1;
}

img.song-select {
  min-height: 13px;
  height: 40%;
}

.main-button {
  opacity: 0.7;
}

.main-button:hover {
  transform: scale(1.05);
  opacity: 1;
}
.song-display {
  width: 25%;
  display: flex;
  min-width: 200px;
}