.music-player {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  // height: 11vh;
  height: 90px;
  width: 100%;
  background: #282828;
  color: white;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 17;
  padding: 0 16px;
  line-height: 20px;
}

.mp-main {
  display: flex;
  position: relative;
  width: 40%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  // margin-left: 100px;
}

.right-side {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  width: 224px;
  align-items: center;
  // height: 50%;
  max-width: 722px;
  color: #B3B3B3;
  transition-duration: 0.2s;

  i:hover {
    color: white;
    transition-duration: 0.1s;
  }

  button {
    color: #B3B3B3;
  }
  button:hover i{
    color: white;
    transition-duration: 0.1s;
  }
}

.main-button {
  height: 90%;
  min-height: 33px;
}

.song-select {
  opacity: 0.7;
}

.song-select:hover {
  opacity: 1;
}

img.song-select {
  min-height: 13px;
  height: 40%;
}

.main-button {
  opacity: 0.7;
}

.main-button:hover {
  transform: scale(1.05);
  opacity: 1;
}
.song-display {
  width: 30%;
  display: flex;
  align-items: center;
  min-width: 200px;
}

.play.dontshow {
  display: none;
}

.play.show {
  display: block;
  font-size: 35px;
  padding: 0;
}

.pause.dontshow {
  display: none;
}

.pause.show {
  display: block;
  font-size: 35px;
  padding: 0;
}

.volume {
  width: 136px;
  height: 15px;
  display: flex;
  align-items: center;
  align-self: center;
}

.volume:hover {
  #volume-status {
    background-color: #1EBA54;
  }
}

#volume-meter{
  width: 100%;
  background-color: #535353;
  float: right;
  height: 4px;
  border-radius: 2px;
  margin: auto 0;
}

#volume-status {
  background-color: #B3B3B3;
  width: 100%;
  height: inherit;
  border-radius: inherit;
}

#volume-meter:hover #volume-status {
  background-color: #1EBA54;
}

.volume-icon {
  height: 32px;
  width: 55px;
  display: flex;
  justify-content: center;
  color: #B3B3B3;
}

.fa-volume-mute {
  display: none;
}

.fa-volume-down {
  display: none;
}

.fa-volume-mute.show:hover {
  color: white;
}

.fa-volume-down.show:hover {
  color: white;
}

.fa-volume-up.show:hover {
  color: white;
}

.fa-volume-mute.show:focus {
  color: white;
}

.fa-volume-down.show:focus {
  color: white;
}

.fa-volume-up.show:focus {
  color: white;
}

.fa-volume-mute.show:active {
  color: #B3B3B3;
}

.fa-volume-down.show:active {
  color: #B3B3B3;
}

.fa-volume-up.show:active {
  color: #B3B3B3;
}

.fa-volume-mute.show {
  align-self: center;
  display: block;
}

.fa-volume-down.show {
  align-self: center;
  display: block;
}

.fa-volume-up.show {
  align-self: center;
  display: block;
  // font-size: 16px;
}

.progress-bar {
  width: 100%;
  height: 12px;
  display: flex;
}

.song-slider {
  width: 100%;
  display: flex;
  align-items: center;
}

.time-progressed, .song-duration {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  min-width: 40px;
  text-align: center;
}

.album-image {
  width: 56px;
  height: 56px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);

  img {
    width: 100%;
    height: 100%;
  }
}

.song-title-artist {
  margin-left: 16px;
  .song-title {
    font-size: 14px;
  }

  .song-title:hover {
    text-decoration: underline;
  }

  .artist-name {
    font-size: 12px;
    color: #B3B3B3;
  }

  .artist-name:hover {
    text-decoration: underline;
  }
}

// .song-progress{
//   width: 100%;
//   -webkit-appearance: none;
//   height: 4px;
//   background: #535353;
//   border-radius: 2px;
// }

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .song-progress {
      overflow: hidden;
      width: 100%;
      -webkit-appearance: none;
      background-color: #535353;
      height: 4px;
      border-radius: 2px;
    }
    
    .song-progress::-webkit-slider-runnable-track {
      height: 10px;
      width: inherit;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    .song-progress::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      background: white;
      box-shadow: -500px 0 0 500px #1EBA54;
    }
}


