.items-show-page {
  // display: flex;
  color: white;
  background: rgb(18,18,18);
  background: linear-gradient(0deg, rgba(18,18,18,1) 52%, rgba(81,81,81,1) 100%);
  // margin-top: 65px;
}

.item-information {
  justify-content: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 24px;
  width: 100%;
  // text-align: center;
}

.img-and-info > img {
  height: 234px;
  width: 234px;
}

.img-and-info {
  display: flex;
}

.item-type {
  text-transform: uppercase;
  font-size: 12px;
}

.song-index {
  width: 100%;
  margin-left: auto;
  padding-right: 50px;
}

.songs {
  display: flex;
  // justify-content: space-between;
  width: 100%;
  transition-duration: 0.4s;
  height: 65px;
  align-items: center;
  justify-content: center;
  // padding: 40px 15px;
}

.songs:hover {
  background-color: #2A2A2A;
  transition-duration: 0.4s;
}

.songs:hover i.fa-play{
  display: block;
}

.songs:hover i.fa-music{
  display: none;
}

.song-info {
  margin-left: 15px;
}

.fa-play {
  display: none;
}

.fa-ellipsis-h {
  align-self: center;
  font-size: 14px;
}

.song-content {
  display: flex;
}

.song-creator-info {
  color: #A0A0A0;
}

.song-artist {
  transition-duration: 0.4s;
  cursor: pointer;
}

.song-album {
  transition-duration: 0.4s;
  cursor: pointer;
}

.song-artist:hover {
  color: white;
  transition-duration: 0.4s;
  text-decoration: underline;
}

.song-album:hover {
  color: white;
  transition-duration: 0.4s;
  text-decoration: underline;
}

.song-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px 15px;
}

.song-content-left, .song-content-right {
  display: flex;
}

.song-creator-info span {
  font-size: 14px;
}

.song-duration {
  color: #A0A0A0;
}

.dot {
  margin: 0 10px;
  cursor: default;
  color: #9C9B9A;
}

.song-content-right i {
  margin-right: 60px;
  display: none;
}

.songs:hover i.fa-ellipsis-h{
  display: block;
}

.creator {
  color: white;
  // transition-duration: 0.4s;
  // width: 100%;
  align-self: center;
  font-size: 15px;
  font-weight: 900;
}

.total-duration {
  color: #9C9B9A;
}

.creator span:hover {
  // transition-duration: 0.4s;
  color: #A0A0A0;
  text-decoration: underline;
  cursor: pointer;
}

.play-item-button {
  background-color:  #1DB954;
  width: 110px;
  align-self: center;
  padding: 13px 0;
  transition-duration: 0s;
}

.play-item-button:hover {
  background-color:  #1ed760;
  transform: scale(1.06);
  transition-duration: 0s;
}

.item-information i {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #A0A0A0;
  font-size: 20px;
  width: 100%;
  // transition-duration: 0.4s;
}

.item-information i:hover {
  color: white;
  // transition-duration: 0.4s;
}

.item-size {
  font-size: 11px;
  letter-spacing: 1.76px;
  color: #A0A0A0;
}

.delete-button {
  position: relative;
}

.delete-menu {
  position: absolute;
}

.play-or-delete {
  display: flex;
}

.creator-year-time {
  display: flex;
}

.item-name {
  margin-top: 12px;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  font-size:85px;
  margin-left: -3px;
}

.play-or-delete {
  padding-top: 50px;
  padding-bottom: 24px;
  align-items: center;
}

.fa-heart {
  font-size: 32px;
  margin: 0 25px;
}

@media only screen and (max-width: 1060px) {
  .item-name {
    font-size: 48px;
  }

    .item-information {
    margin-left: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .img-and-info > img {
    height: 192px;
    width: 192px;
  }

}

@media only screen and (min-width: 1060px) and (max-width: 1200px) {
  .item-name {
    font-size: 72px;
  }
}



