.sidebar {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  height: 91vh;
  width: 230px;
  
}

.sidebar-nav-links li a{
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 0 10px;
}

.sidebar-nav-links li a:focus {
  background-color: #282828;
  border-radius: 4px;
  color: white;
}


.sidebar-nav-links li a i {
  margin-right: 17px;
  font-size: 20px;
}

.sidebar-nav-links li:hover a{
  transition-duration: 0.3s;
  color: white;
}

.fa-plus-square:before {
    content: "\f0fe";
}

.sidebar-nav-links > li > a {
  color: #B3B3B3;
  transition-duration: 0.3s;
}

.sidebar-heaader-logo {
  text-align: left;
}

.side-playlist-create-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  margin-left: -50px;
  color: #B3B3B3;
  transition-duration: 0.3s;
}
.side-playlist-create-btn > i {
  font-size: 31px;
  margin-right: 10px;
  // padding-left: 5px;
}

.side-playlist-create-btn:hover {
  color: white;
  transition-duration: 0.3s;
}

.create-playlist-text {
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 13px;
}

.divider-text {
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: #B3B3B3;
  letter-spacing: .16em;
  padding-left: 20px;
  margin-top: 20px;
}

.sidebar-playlists {
  width: 100%;
  margin-top: 15px;
  height: 360px;
  overflow-y: scroll;
  // padding-bottom: 20px;
}

.sidebar-playlist-item {
  color: #B3B3B3;
  margin-right: 10px;
  padding-left: 20px;
  height: 30px;
  width: 100%;
}

.sidebar-playlist-item a {
  width: 200px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition-duration: 0.3s;
  font-size: 15px;
}

.sidebar-playlist-item a:hover {
  color: white;
  transition-duration: 0.3s;
}

.sidebar-playlist-item a:focus {
  color: white;
}